 <div class="user-details">
  <h1>About</h1>
  <table class="about-table">
    <tr>
      <td class="title">Name:</td>
      <td class="value">SUNINVEST D.O.O.</td>
    </tr>
    <tr>
      <td class="title">Address:</td>
      <td class="value">Kotnikova ulica 5, 1000 Ljubljana, Slovenia</td>
    </tr>
    <tr>
      <td class="title">Registration number:</td>
      <td class="value">6948952000</td>
    </tr>
    <tr>
      <td class="title">Tax number:</td>
      <td class="value">77850637</td>
    </tr>
    <tr>
      <td class="title">Email:</td>
      <td class="value"><a href="mailto:support@suninvest.org">support@suninvest.org</a></td>
    </tr>
  </table>
</div>
