<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">SUNINVEST</span>
        <span class="site-description">D.O.O.</span>
      </h1>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  <a class="down" href="#about" data-scroll><i class="icon icon-down-open" aria-hidden="true"></i></a>
</div>
