<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/memingbot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Meming Wiki</h3>
    <p>Free online encyclopedia about Internet memes.</p>
    <a class="project-link" href="https://en.meming.world/wiki/Main_Page">View</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/memingbot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Meming Bot</h3>
    <p>Simple meme generator for <a href="https://telegram.org/">telegram</a>.</p>
    <a class="project-link" href="https://memingbot.ml/">View</a>
  </div>
</div>
<div class="more">
  More projects coming soon...
</div>
